@charset "utf-8";

/*-------------
 GENERAL
--------------*/

body
{
background: #398AC2 url('body_bg2.png') repeat;
}

h1, h2, h3, h4, h5, h6
{
margin: .5em 0;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
	color: 		#5B5B5B;
	font-size: 1.2em;	
	background: #EAF7FF url('page_bg.png');
	box-shadow: 	0px 1px 2px rgba(0, 0, 0, .5);
	padding: .5em 1em;
	margin: 1em auto 0.5em;
	font-family: Georgia,serif;
}

.page a
{
color:#666;
}

#footer .content
{
	padding: 	0 0 1em;
	color: #fafafa;
	text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
}

#footer a
{
	color: inherit;
}

p
{
margin:1em 0;
}

/*-------------
 BUTTONS
--------------*/
.button, .menu, .embed
{
margin: 1em 0;
}

.button a, .menu li a
{
box-shadow: 	0px 1px 2px rgba(0, 0, 0, .5);
color: #fff;
display: 		inline-block; 
text-decoration:none;
text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
background: #ffa612; /* Old browsers ffa612 */
background: -moz-linear-gradient(top, #ffa612 0%, #ffa001 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa612), color-stop(100%,#ffa001)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffa612 0%,#ffa001 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffa612 0%,#ffa001 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffa612 0%,#ffa001 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa612', endColorstr='#ffa001',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffa612 0%,#ffa001 100%); /* W3C */
position:relative;
}

.button a
{
border-radius: 	7px;
padding: 		.5em 0;
text-align: 	center;
width:			100%;
}

.menu
{
list-style-type: none;
}

.menu li a
{
padding: 		.5em 0 .5em 3%;
width:			97%; 
}

.button a:hover, .menu li a:hover
{
background: #ffb334; /* Old browsers */
background: -moz-linear-gradient(top, #ffb334 0%, #ffac23 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb334), color-stop(100%,#ffac23)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffb334 0%,#ffac23 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffb334 0%,#ffac23 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffb334 0%,#ffac23 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb334', endColorstr='#ffac23',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffb334 0%,#ffac23 100%); /* W3C */

}

.button a:active, .menu li a:active
{
box-shadow: 	0px 1px 2px rgba(0, 0, 0, .3);
background: #ffb334; /* Old browsers */
background: -moz-linear-gradient(top, #ffb334 0%, #ffac23 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb334), color-stop(100%,#ffac23)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffb334 0%,#ffac23 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffb334 0%,#ffac23 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffb334 0%,#ffac23 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb334', endColorstr='#ffac23',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffb334 0%,#ffac23 100%); /* W3C */
top: 1px;
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #fff;
box-shadow: 	0px 1px 2px rgba(0, 0, 0, .5);
margin: 1em 0;
max-width:96%;
padding:2%;
}

.image img
{
width:100%;
vertical-align:bottom;
}