@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Podkova);

/*-------------
 GENERAL
--------------*/

body
{
background: url('body2.png') repeat;
}

h1, h2, h3, h4, h5, h6
{
margin: .2em 0;
text-transform: uppercase;
font-style: none;
text-shadow: 0 1px 1px #FFD836;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
	color: 		#9E8D6F;
	font-family: 'Podkova', serif;
	box-shadow: 	0px 0px 2px #9E8D6F;
	padding: .5em 1em;
	margin: 1em auto 0.5em;
	background: url('page.jpg') repeat;
}

.page a
{
color: #BBA36D;
text-decoration: underline;
}

#footer .content
{
	padding: 	0 0 1em;
	color: #9E8D6F;
}

#footer a
{
	color: #BBA36D;
}

p
{
border-top: thin solid #FFD836;
padding-top: 1em;
line-height: 1.5em;
margin:1em 0;
}
 
/*-------------
 BUTTONS
--------------*/
.button, .menu, .embed
{
margin: 1em 0;
}

.button a, .menu li a, .accordeon
{
box-shadow: 	0px 0px 1px rgba(0, 0, 0, .5);
color: #9E8D6F;
display: 		inline-block; 
text-decoration:none;
font-weight: bold;
text-shadow: 	0 2px 0px #FFFFFF;
background: url('button.png');
border-top: thin solid #9E8D6F;
border-left: thin solid #9E8D6F;
border-right: thin solid #9E8D6F;
}

.menu li:last-child a
{
border-bottom: thin solid #9E8D6F;
}

.button a
{
border-radius: 	7px;
padding: 		.5em 0;
text-align: 	center;
width:			100%;
border: thin solid #9E8D6F;
}

.menu
{
list-style-type: none;
}

.menu li a
{
padding: 		.5em 0 .5em 3%;
width:			97%; 
}

.button a:hover, .menu li a:hover
{
text-shadow: none;
background: url('button-hover.png');
}

.button a:active, .menu li a:active
{
box-shadow: 	0px 1px 2px rgba(0, 0, 0, .3);
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #fff;
box-shadow: 	0px 1px 2px #9E8D6F;
margin: 1em 0;
max-width:96%;
padding:2%;
}

.image img
{
width:100%;
vertical-align: bottom;
}