@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/*-------------
 GENERAL
--------------*/

body
{
background: url('pink-dots.png') repeat;
}

h1, h2, h3, h4, h5, h6
{
font-family: 'Pacifico', cursive;
text-align: center;
margin: .5em 0;
color: #000000;
}

h1:after
{
display: block;
content:url('ornament.png');
}

h1:after img
{
width:25%;
}

a
{
color:#A0717C;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
color: 		#3F3F3F;
text-shadow: 0px 1px 15px #A0717C;
font-family: 'Courier New', serif;	
}

p
{
	padding: .5em .5em;
	margin:1em 0;
	background: url('page.png') repeat;
	box-shadow: 0px	0px 3px #A0717C;
	position: relative;
}

p:after
{
display: block;
content:url('ornament.png');
text-align: center;
}

#footer .content
{
	padding: 	0 0 1em;
	color: #fafafa;
	text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
}

#footer a
{
	color: inherit;
}


/*-------------
 BUTTONS
--------------*/
.button, .menu, .embed
{
margin: 1em 0;
}

.button a, .menu li a, .accordeon
{
font-size: 1.2em;
text-align: center;
color: #000;
display: 		inline-block; 
text-decoration:none;
text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
background: url('button.png') repeat;
position:relative;
}

.button a
{
border-radius: 	7px;
padding: 		.5em 0;
text-align: 	center;
width:			100%;
}

.menu
{
list-style-type: none;
}

.menu li a
{
padding: 		.5em 0 .5em 3%;
width:			97%; 
border-bottom: 3px dotted #EFADAD;
}

.menu li:last-child a
{
border-bottom: none;
}

.button a:hover, .menu li a:hover
{
background: url('button_hover.png') repeat;
}

.button a:active, .menu li a:active
{
background: url('button_hover.png') repeat;
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #fff;
box-shadow: 0px	0px 3px #A0717C;
margin: 1em 0;
max-width:96%;
padding:3%;
}

.image img
{
width:100%;
vertical-align:bottom;
}

