@charset "utf-8";

/*-------------
 GENERAL
--------------*/

body
{
background: #919191; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #919191 0%, #595959 42%, #000000 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#919191), color-stop(42%,#595959), color-stop(99%,#000000)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #919191 0%,#595959 42%,#000000 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #919191 0%,#595959 42%,#000000 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #919191 0%,#595959 42%,#000000 99%); /* IE10+ */
background: radial-gradient(center, ellipse cover, #919191 0%,#595959 42%,#000000 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

h1, h2, h3, h4, h5, h6
{
color: #000000;
text-shadow: -1px 0px white;
margin: .5em 0;
}

a
{
color:#B51C1F;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
	font-size: 1.2em;	
	background: url('paper.png');
	box-shadow: 	0px 0px 3px #000000;
	padding: .5em 1em;
	margin: 1em auto 0.5em;
	font-family: "Cambria", Georgia, serif;	
	color: 		#010302;
}


#footer .content
{
	padding: 	0 0 1em;
	color: #fafafa;
	text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
}

#footer a
{
	color: inherit;
}

p
{
margin:1em 0;
padding: 1em 0;
border-top: 4px dotted #B51C1F;
}

/*-------------
 BUTTONS
--------------*/
.button, .menu, .embed
{
margin: 1em 0;
}

.button a, .menu li a, .accordeon
{

color: #C6C2B7;
text-transform: uppercase;
font-weight: bold;
background: url('buttons.png') repeat;
display: 		inline-block; 
text-decoration:none;
text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
position:relative;
}

.button a
{
border-radius: 	7px;
padding: 		.5em 0;
text-align: 	center;
width:			100%;
}

.menu
{
list-style-type: none;
}

.menu li a
{
padding: 		.5em 0 .5em 3%;
width:			97%; 
border-bottom: 4px dotted #C6C2B7;
}

.menu li:last-child a
{
border-bottom: none;
}

.button a:hover, .menu li a:hover
{
background: #A3181C;

}

.button a:active, .menu li a:active
{
background: #A3181C;
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #000;
box-shadow: 	0px 1px 2px rgba(0, 0, 0, .5);
margin: 1em 0;
max-width:96%;
padding:2%;
}

.image img
{
width:100%;
vertical-align:bottom;
}