@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

/*-------------
 GENERAL
--------------*/

body
{
background: #fafafa url('body_bg.png');
}

h1, h2, h3, h4, h5, h6
{
color: #5F081B;
margin: .5em 0;
}

a
{
color:#666;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
font-size: 1.2em;	
	margin: 1em auto 0.5em;
color: 		#5B5B5B;
font-family: 'Love Ya Like A Sister', cursive;
}

#footer .content
{
	padding: 	0 0 1em;
	font-family: 'Love Ya Like A Sister', cursive;
}

/*-------------
 BUTTONS
--------------*/
.button, .menu, .embed
{
	margin: 1em 0;
}

.button a, .menu li a
{
box-shadow: 	0px 1px 2px rgba(0, 0, 0, .5);
color: #DD2950;
display: 		inline-block; 
text-decoration:none;
text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
background: #ccc url('button_bg.png'); /* Old browsers 27B7D1 */
position:relative;
}

.button a
{
padding: 		.5em 0;
text-align: 	center;
width:			100%;
}

.menu
{
list-style-type: none; 
}

.menu li a
{
padding: 		.8em 0 .8em 3%;
width:			97%; 
}

.button a:hover, .menu li a:hover
{
background: #99713C url('button_bg_hover.png');
}

.button a:active, .menu li a:active
{
background: #99713C url('button_bg_hover.png');
box-shadow: 	0px 1px 1px rgba(0, 0, 0, .3);
top:1px;
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #fafafa;
box-shadow: 0px 1px 2px rgba(0, 0, 0, .5); 
margin: .7em 0;
max-width:96%;
padding:2%;
}

.image img
{
width:100%;
vertical-align:bottom;
}

.image:nth-of-type(4n)  {
-moz-transform:rotate(2deg);
}

.image:nth-of-type(4n+1)  {
-moz-transform:rotate(-3deg);
}

.image:nth-of-type(4n+2)  {
-moz-transform:rotate(1deg);
}

.image:nth-of-type(4n+3)  {
-moz-transform:rotate(-2deg);
}

