@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans);

/*-------------
 GENERAL
--------------*/

body
{
background: #E2BD90 url('body_bg.png') repeat;
}

h1, h2, h3, h4, h5, h6
{
margin:.5em 0 .5em;
line-height: 1em;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
	font-family: 'Quattrocento Sans', sans-serif;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .4);	
	background: #F1EFE6 url( "page_bg.png" ) ;
	line-height:	1.2em;
	padding: 1em;
	margin: 1em auto;
	color: #382d31;
}

.page a, #footer a
{
color:#382d31;
}

#footer .content
{
	padding: 	0 0 1em;
	color:#382d31;
}


/*-------------
 BUTTONS
--------------*/
.button, .menu, .embed
{
	margin: 1em 0;
}

.button a
{
border-radius: 	7px;
padding: 		.8em 0;
text-align: 	center;
width:			100%;
}

	.button a, .menu li a
	{
		box-shadow: 	0px 1px 2px rgba(0, 0, 0, .5);
		-webkit-box-shadow: 	0px 1px 2px rgba(0, 0, 0, .5);
		display: 		inline-block; 
		text-decoration:none;
		text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
		background: #693c21 url( "button_bg.png" );
		color: #e4b69d;
		position:relative;
	}

.menu
{
list-style-type: none;
}
	
.menu li a
{
padding: 		.8em 0 .8em 3%;
width:			97%; 
}

.button a:hover, .menu li a:hover
{
box-shadow: 	0px 1px 2px rgba(0, 0, 0, .5);
-webkit-box-shadow: 	0px 1px 2px rgba(0, 0, 0, .5);
background: #693c21 url( "button_bg_hover.png" ) ;
}

.button a:active, .menu li a:active
{
box-shadow: 	0px 1px 2px rgba(0, 0, 0, .3);
-webkit-box-shadow: 	0px 1px 2px rgba(0, 0, 0, .3);
background: #693c21 url( "button_bg_hover.png" ) ;
top:1px;
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #fff;
box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
margin: .7em 0;
max-width:96%;
padding:2%;
}

.image img
{
width:100%;
vertical-align:bottom;
}