@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}




/*-------------
 HEADER
------------------------*/
#header {
    background: url("../img/header_bg3.png") repeat scroll 0 0 #3E3940;
    border-bottom: 0 solid #C6C6C6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #F2EBBB;
    overflow: auto;
    padding: 5px 0 0;
}



.content
{
	margin:	0px auto;
	width:	500px;
}

.social_tool
{
	float:left;
	width:90px
}

.content_hidden
{
	display:none;
}

.top_page
{
text-align:right;
position:relative;
}
.top_page a
{
background:#fff;
padding:2px 5px 0;
border-radius:0px 0px 5px 5px;
margin-left:10px;
text-decoration:none;
box-shadow: 0 0 2px rgba(0,0,0, 0.4);
color: #5B5B5B;
}


#user_menu
{
	margin-top: 3px;
	float:		right;
	font-family: Georgia,serif;
} 

#user_menu a
{
	color: #fff;
} 

/*-------------
 EMBED
--------------*/
.embed
{
margin: 0;	
padding:0;	
}

.page embed, .page object, .page iframe 
{
width: 100%;
}

/*-------------
 ADS
--------------*/
#ads
{
display:none;
}

/*-------------
 MEDIA QUERIES
--------------*/
@media only screen and (max-width: 520px) 
{  
	.content
	{
		width: 90%;
	}
	.qr_code
	{
		width:100%;
	}	
}


/*---------------
ALERT
---------------*/
.alert

{
background-color: #57A957;
background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #fff;
    margin: 1em 0;
    position: relative;
    
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 		.5em 1em;
}

.alert a
{
color: #fff;
}

.error
{  
background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.warning
{
color: #404040;
background-color: #EEDC94;
background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);    
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}


/*----------------------
EDITOR
-----------------------*/

#editor_instructions
{
background:#eee;
padding:0.5em 1em;
margin-top:1em;
box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .4); 

}

#editor
{
width:180px;
position:fixed;
top:0px;
left:15px;
border-radius: 0 0 5px 5px;
font-family: 	Georgia, Serif;
padding:25px;
background: #eee;
color:#666;
box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .4); 
padding:15px;

}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#show_photos
{
height:200px;
overflow-y:scroll;
border:1px solid #999;
box-shadow: 0 0 3px 1px rgba(0, 0, 0, .25) inset;
border-radius:5px; 
}

.editor_img img
{
cursor:pointer;
padding:5px;
box-shadow: 	0px 1px 2px #aaa;
margin: 5px 10px 5px 20px;
width:200px;
}

.dialog
{
width:500px;
}

.droppable { min-height:300px; }
	.handable { background:pink; }
	
.handle, .edit, .delete { 
background:#999;
width:33%;
padding: 3px 0;
display:block;
float:left;
cursor:pointer;
font-size:16px;
font-weight:normal;
text-align:center;
text-transform: uppercase;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);

}

.handle
{
width:34%;
cursor:move;
}


.handle:hover, .edit:hover 
{
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.delete:hover
{
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);

}

.handable_wrap
{
border: 1px dashed #ccc;
}

.ui-droppable
{
border: 1px dashed #ccc;
}

.dialog
{
display:none;
}


.draggable
{
background: #fff;
color:#666;
margin:15px 0;
padding:10px;
text-align:center;
border:1px dashed #666;
cursor:pointer;
box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .4);
}


/*------------------------
 BUTTONS
------------------------*/
.button_cta
{
	border: 		none;
	border-radius: 	7px;
	box-shadow: 	0px 1px 2px #888;
	color:			#fff !important;
	cursor:			pointer;
	display: 		inline-block; 
	font-family: 	Georgia;
	padding: 		.3em 1em;

	text-align: 	center;
	text-decoration:none;
	text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
}

.button_big
{
	font-size:	1.8em;
	line-height:1.2em;
	margin: 	.8em 0 .8em;
	padding: 	.3em 0em;
	width: 		100%;
}

.home_button_big
{
	font-size:	1.8em;
	line-height:1.2em;
	margin: 	20px 0 20px;
	padding: 	.3em .5em;
}

.button_gray
{
	background: #777;
}

.button_gray:hover
{
	background: #999;
}

.button_green
{
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button_green:hover
{
	background: #51a351;
}

.button_red{
  color:#fff;
  background-color: #da4f49;
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button_red:hover
{
	background: #bd362f;
}


/*-----------------------
 FORM
 -----------------------*/
.styled_form
{
	border:			2px solid #ddd;
	border-radius: 	7px;
	color: 			#444;
	font-family:	Georgia, serif;
	font-size:		1em;
	padding:		5px;
}

.long_text
{
	width:490px;
}

.light_text
{
font-size:0.8em;
color:#333;
}

/*------------------------
 JQUERY UI
------------------------*/
.ui-dialog
{
font-size:1em;
}


.ui-dialog .long_text
{
	width:95%;
}

.button_form
{
background:#eee;
margin:0 0 2em;
padding: 1em;
border-radius:5px;
box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .2); 

}