@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}


/*------------------------
 GENERAL
------------------------*/
body
{
color: 		#5B5B5B;
font-family:Georgia, serif;
background: #f1f1f1 url('../img/tile.gif') repeat;
}

h1, h2, h3, h4, h5
{
font-weight:normal;
margin:.5em 0 .5em;
}

a
{
color:#666;
}


/*------------------------
 LAYOUT
------------------------*/
#header
{
	background: 	#3E3940 url("../img/header_bg3.png") ;
	border-bottom:	1px solid #c6c6c6;
	color: 			#f2ebbb;
	overflow:		auto;
	padding: 		5px 0 0;
}

.content
{
	margin:	0px auto;
	width:	500px;
}

.content_hidden
{
	display:none;
}

.page
{
	font-size:		1.2em;
	line-height:	1.4em;
}

#footer .content
{
	padding: 	1em 0;
	border-top: 1px solid #ccc;
}

/* HEADER */
#header_page
{
	background: 	#bbb url( "../img/header_bg3.png" ) ;
	border-bottom:	1px solid #c6c6c6;
	color: 			#f2ebbb;
	overflow:		auto;
	padding: 		7px 0 3px;
}

.social_tool
{
	float:left;
	width:90px
}

/* BUTTONS */
.button, .menu
{
box-shadow: 	0px 1px 2px #888;
display: 		inline-block; 
text-decoration:none;
text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top, #fcfcfc 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcfcfc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcfcfc 0%,#eeeeee 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fcfcfc 0%,#eeeeee 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fcfcfc 0%,#eeeeee 100%); /* W3C */
}

.button
{
border-radius: 	7px;
margin: 		0.5em 0;
padding: 		.5em 0;
text-align: 	center;
width:			100%;
}

.menu
{
padding: 		.5em 0 .5em 5%;
width:			95%;
}

.button:hover, .menu:hover
{
box-shadow: 	0px 1px 2px #bbb;
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top, #f2f2f2 0%, #dadada 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f2f2 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f2f2 0%,#dadada 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f2f2f2 0%,#dadada 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f2f2f2 0%,#dadada 100%); /* W3C */
}

/* IMAGES */
.image
{
	margin: .7em 0;
	max-width:98%;
padding:1%;
background: #fff;
box-shadow: 0px 1px 2px #aaa;
}

/* EMBED */
.embed
{
	padding:0;
	margin: 0;
}

.page embed, .page object, .page iframe 
{
	width: 100%;
}


/* ADS */
#ads
{
text-align:center;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 520px) 
{  

	.content
	{
		width: 90%;
	}	

	#print_page
	{
		width: 100%
	}	
	.qr_code
	{
		width:100%;
	}	  
}
