@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}


/*------------------------
 GENERAL
------------------------*/
body
{
color: #5B5B5B;
font-family:Georgia, serif;
background: #fff;
}

h1, h2, h3, h4, h5
{
font-weight:normal;
}

h1
{
font-size:2em;
}

h2
{
font-size:1.6em;
}

p
{
font-size:1.2em;
line-height:1.4em;
}

a
{
color:#666;
}


/*------------------------
 print QR
------------------------*/

#print_page
{
width: 95%;
text-align:center;
color: #555;
}

#print_title
{
font-size:120px;
line-height: 100px;
}

#print_page img
{
height:600px;
width:600px;
}

/*------------------------
 HIDE
------------------------*/

#qr_tools, #footer, #header
{
display:none;
}
