@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body
{
background-color: #f5f5f5;
color: #5B5B5B;
font-family:Georgia, serif;
}

h1
{
color:#464646;
font-size:1.8em;
font-weight:normal;
margin:.6em 0;
line-height:1.2em;
}

p
{
font-size:1.2em;
line-height:1.4em;
}

.flyer img
{
max-width:600px;
border: 1px solid #ccc;
margin-top: 1.5em;
padding: 0.5em;

}

.content
{
	margin:0 auto;
	width:620px;
}




.loading
{

}




fieldset
{
background-color: #eee;
}

label 
{	
display:block;
font-size:1.3em;
margin: 15px 0 0.1em 0;
}

.faux_form, .styled_form
{
font-family:Georgia, serif;
font-size:1em;
border:2px solid #ddd;
padding:5px;
color: #444;

border-radius: 7px;
}

.long_text
{
width:500px;
}

textarea
{
width:500px;
height:120px;
}

.content_hidden
{
display:none;
}





#header
{
background:#eee;
color: #f2ebbb;
border-bottom:1px solid #c6c6c6;
background: #dcdcdc url(http://localhost/qranberry/assets/img/header.png) top left repeat-x;
}

#footer
{
background:#aaa;
text-align:center;
padding:1em;
}


.box
{
font-size:1.3em;
color:#fff;
background: gray;
text-align:center;
padding:10px 0;
margin:20px auto;
}

/*MODAL*/
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#fff;
  display:none;
}
   
.modal_frame{
  position:absolute;
  width:500px;
max-height:300px;
overflow:auto;
  display:none;
  z-index:9999;
  background:#f5f5f5;
box-shadow: 0px 0px 7px #aaa;
border-radius: 7px;

}

.modal_content
{
	padding:20px;
}

.modal_actions
{
padding-top:20px;
text-align:center;
} 
 
/* Customize your modal window here, you can add background image too 
#modal {
  width:500px;
  height:203px;
background: #fff;
display:none;
}
*/






#header_flyer, #footer_flyer
{
padding: 0.4em 0;
background:#eee;
border-bottom:1px solid #c6c6c6;
background: #dcdcdc url(http://localhost/qranberry/assets/img/header.png) top left repeat-x;
}

#footer_flyer
{
margin: 2em 0 0 0;
padding: 1em 0;
}
