@charset "utf-8";
/* CSS Document */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

.group:after{content:" ";display:block;height:0;clear:both;visibility:hidden;}
* html .group{ height:1%;} *:first-child+html .group{min-height:1px;}
/*------------------------

 GENERAL
------------------------*/
body
{
color: 		#5B5B5B;
font-family:Georgia, serif;
background: #f1f1f1 url('../img/tile.gif') repeat;
}

h1, h2, h3, h4, h5
{
font-weight:normal;
}

h1
{
font-size:2em;
}


h2

{

font-size:1.6em;

}

p

{
margin-bottom:1em;


}

a
{
color:#666;
}


/*------------------------

 LAYOUT
------------------------*/
#header
{
	background: 	#3E3940 url("../img/header_bg3.png") ;
	border-bottom:	0px solid #c6c6c6;

	color: 			#f2ebbb;
	overflow:		auto;
	padding: 		5px 0 0;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#header a
{
	color: #fff;

}

.content
{
	margin:	0px auto;
	width:	500px;
}

.content_hidden
{
	display:none;
}

#footer .content
{
margin-top:4em;
	padding: 	1em 0;
	border-top: 1px solid #ccc;
}

.page
{
	background:		#fff;
	border-radius: 	7px;
	box-shadow: 	0px 0px 2px #aaa;	
	margin:			30px auto;
	width:			500px;
padding: 0 0 1em;
}




.page h1
{
	background:		#3E3940 url("../img/header_bg3.png") ;
	border-bottom: 	1px solid #ddd;
	border-radius: 	7px 7px 0 0;
	color:			#f6f6f6;
	padding:		.3em 0.8em;
}

.page h2
{
margin: 0 0 0.2em 0;
}

.page_content
{
	margin-top: 	.5em;	

padding: 0 1.5em 0 1.5em;
line-height:1.2em;
}

.page section
{
margin:2em 0;
}

.page ul ul
{
margin-left:1em;
}

.page li
{

margin:0 0 0.4em 0;
}

.page b
{
font-weight:bolder;
}


#table_plans
{
border-collapse:collapse;
width:100%;
}


#table_plans #plan_types th
{
background:#444;
color:#fff;
padding:0;
}

#table_plans .plan_prices
{
display:block;
padding:0;
background:#444;
line-height:1.2em;
font-size:1.9em;
}

#table_plans tr
{
height:45px;
}

#table_plans tr:nth-of-type(2n)
{
background:#eaeaea;
}

#table_plans td
{
padding: 0.6em 0;
width:25%;
text-align:center;
}

#table_plans td:nth-of-type(1) 
{
text-align:left;
font-weight:bold;
}

/*------------------------
 FORM
------------------------*/

fieldset
{
	background-color: #eee;
}

label 
{	
	display:	block;
	font-size:	1.3em;
	margin: 	15px 0 0.1em 0;
}

.faux_form, .styled_form
{
	border:			2px solid #ddd;
	border-radius: 	7px;
	color: 			#444;
	font-family:	Georgia, serif;
	font-size:		1em;
	padding:		5px;
}

.long_text
{
	width:440px;
}

textarea
{
	width:440px;
	height:190px;
}

#show_photos img
{
padding:5px;
box-shadow: 	0px 1px 2px #aaa;
margin: 5px 10px 5px 0;
}

#show_photos img:nth-child(4)
{
margin-right:0px;
}

.form_error
{
color:red;
}

/*------------------------
 BUTTONS
------------------------*/
.button
{
	border: 		none;
	border-radius: 	7px;
	box-shadow: 	0px 1px 2px #888;
	color:			#fff;
	cursor:			pointer;
	display: 		inline-block; 
	font-family: 	Georgia;
	padding: 		.3em 1em;

	text-align: 	center;
	text-decoration:none;
	text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
}



.button_big
{
	font-size:	1.8em;
	line-height:1.2em;
	margin: 	.8em 0 .8em;
	padding: 	.3em 0em;
	width: 		100%;
}

.home_button_big
{
	font-size:	1.8em;
	line-height:1.2em;
	margin: 	0px 0 50px;
	padding: 	.3em .5em;
}

.button_gray
{
	background: #777;
}

.button_gray:hover
{
	background: #999;
}

.button_green
{
	background: #8ce52a;
}

.button_green:hover
{
	background: #9ce948;
}

.button_red
{
	background: #ee373c;
}


 
/*------------------------
 QR
------------------------*/
 
#print_page
{
	background:		#fff;
	border-radius: 	0;
	box-shadow: 	0px 0px 4px #aaa;
	margin:			30px auto;
	text-align:		center;
	width:			560px;
}

#print_title
{
	font-size: 90px;
}

#qr_tools
{
	margin: 20px auto;
	text-align:center;
} 

/*------------------------
 FLYER 
------------------------
#header_flyer
{
	background: 	#bbb url( "../img/header_bg3.png" ) ;
	border-bottom:	1px solid #c6c6c6;
	color: 			#f2ebbb;
	overflow:		auto;
	padding: 		7px 0 3px;
}

#social_tools
{
	float:left;
}

.social_tool
{
	float:left;
	width:90px
}

.flyer
{
	font-size:		1.2em;
	line-height:	1.4em;
	margin-bottom: 	1.4em;
}

.flyer h1
{
	padding:.7em 0;
}

.flyer img
{
	margin: .7em 0;
	max-width:500px;
}

.flyer a
{
	background: 	#777;
	border: 		none;
	border-radius: 	7px;
	box-shadow: 	0px 1px 2px #888;
	color:			#fff;
	cursor:			pointer;
	display: 		inline-block; 
	font-family: 	Georgia;
	margin: 		0.5em 0;
	padding: 		.3em 0;
	text-align: 	center;
	text-decoration:none;
	text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
	width:			100%;
}

.flyer a:hover
{
	background:#999;
	box-shadow: none;
}

.embed
{
	padding:0;
	margin: 0;
}

.embed img, .embed a
{
	background:	none;
	box-shadow: 0 0 0 #888;
	margin:		0;
	padding:	0;
	text-align:	left;
}

.embed a:hover
{
	background:none;
}

.flyer .link_text
{
	background:		none;
	box-shadow: 	none;
	color:			#5b5b5b;
	display: 		inline;
	text-decoration:underline;
}

.flyer .link_text:hover
{
	background: none;
}


.flyer embed,
.flyer object,
.flyer iframe {
	width: 100%;
}


#ads
{
text-align:center;
}
*/


/* HOME */
.header_home
{
	padding: 		10px 0 !important;
}

.home
{
	margin: 0 auto;
	width:	960px;
}

.home .content
{
	width:960px;
}

.home header h1
{
	margin: 		40px 0 5px;
	text-align:		center;
font-size:44px;
}

.home header h2
{
text-align:		center;
}

.home .slideshow
{
	overflow:auto;
}

.home .slideshow .left
{
	width:15%;
	float:left;
	margin-top: 100px;
	font-size: 120%;
	
}

.home .slideshow .left ul
{
	list-style-type: none;
}

.home .slideshow .left li
{
	margin-bottom: 40px;
}

.home .slideshow .left li a
{
	color: #4D5E75;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
}

.home .slideshow .left li a:hover, .home .slideshow .left .selected
{
	color: #FFFFFF;
	font-weight: bold;
	background-color: #4D5E75;
	border-radius: 7px;
}

.home .slideshow .left li a:active
{
	color: #FFFFFF;
	font-weight: bold;
	background-color: #4D5E75;
	border-radius: 7px;
}

.home .slideshow .right
{
	width:85%;
	float: left;
}

.home .slideshow .right img
{
	text-align: right;
}
.home .slideshow .right p
{
	float: right;
	width: 35%;
	margin-top: 70px;
	font-size: 120%;
}
#login
{
	float:right;
}

#home_i18n
{
	float:left;
	width:54.2%;
}




.home section
{
margin-bottom: 3em;
}

.home section h1
{
	border-top: 	1px solid #ccc;
	border-bottom: 	1px solid #ccc;	
	padding:		.5em;
	margin: 		0 0 20px;
	text-align:		center;

}

.home blockquote
{
background: #4D5E75;
color:#fff;
float:right;
width:280px;
font-size:25px;
margin:50px 0 0 658px;
box-shadow:0 0 3px rgba(0,0,0,0.3);
padding:20px;
-moz-transform:rotate(6deg);
-webkit-transform: rotate(6deg); 
position:absolute;
}

.home #video_container
{
background:#fff;
width:640px;
float:left;
padding:10px;
}

#pwyw p

{
font-size: 2em;
margin-bottom:10px;

}

#pwyw_arrow

{
position:relative;
left: -40px;
top: 30px;





}

#free

{
text-align:center;
font-size: 4em;
line-height:0.8em;

}

#free_arrow




{






position:relative;
left: 140px;
top: 30px;
}

.step ul li
{
padding: .2em;
}

.step ul li:nth-child(2n-1)
{
background: #eaeaea;
}


#airport_text
{
width: 180px;
display:inline-block;
font-family: 'Nothing You Could Do', cursive;
text-align:left;
background: url( "../img/underline.gif" ) ;
}


#demos
{
overflow:auto;
}

#demos img
{
width:220px;
}

#demos div
{
float:left;
margin-right:25px;
text-align:center;
}

#demos div:nth-child(4)
{
margin-right:0;
}


#demos img
{
display:block;

margin: 5px 0 0 0;
box-shadow: 0 1px 2px #aaa;
border-radius:3px;
}

#qr_demo_image
{
width:54%; 
float:left;
}

#qr_demo_code
{
width:40%; 
float:right; 
border:1px solid #ccc;
}


#footer .content #footer_links
{
float:left;
width:80%;
}

#footer .content #footer_social
{
float:right;
width:20%;
text-align:right;
padding: 0 0 20px;
}
/* ---- */








/* ----------------
HEADER ACCOUNT
---------------- */
#account_nav
{
background: #777;
overflow:auto;
width:500px;
margin: 30px auto;
border-radius: 10px;
}

#account_nav a
{
color: #fff;
float:left;
width:25%;
text-align:center;
padding: .5em 0;
}

#account_nav a:hover
{
background: #aaa;
}

#user_menu
{
	margin-top: 3px;
	float:		right;
} 

#logo
{
	float:left;
}

.account_pages
{
border-collapse:collapse;
}

.account_pages td
{

}

.account_pages tr:nth-of-type(2n-1)

{
background:#fafafa;





}

.page_name

{
text-decoration:none;
cursor: pointer;
display:block;
padding:0.7em 0.5em;
width:280px;
}

.delete_page

{
background:#FDDFDE;
text-align:center;


}

.delete_page button, .delete_page a

{
font-size:1em;



}

/*---------------
ALERT
---------------*/
.alert

{
background-color: #57A957;
background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
    color: #fff;
    margin: 1em 0;
    position: relative;
    
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 		.5em 1em;
}

.alert a




{
color: #fff;





}

.error




{
    
background-color: #C43C35;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);


}

.warning

{
color: #404040;
background-color: #EEDC94;
background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);    
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

}

/*------------------------
 MODAL
------------------------*/
#mask {
  position:absolute;
  z-index:9000;
  background-color:#f6f6f6;
  display:none;
}
   
.modal_frame{
  position:absolute;
  width:560px;
max-height:400px;
overflow:auto;
  display:none;
  z-index:9999;
  background:#fff;
box-shadow: 0px 0px 4px #aaa;
border-radius: 7px;

}

.modal_frame h1




{
background: #9ce948;
color:#fff;
padding:0.3em 30px;
border-radius: 7px 7px 0 0;

}







.modal_content
{
	padding:20px;






}

.modal_actions
{
padding-top:20px;
text-align:center;
} 


.print_thumbnails
{
overflow:auto;
}

.print_thumbnail_2
{
float:left;
margin-right:20px;
margin-bottom:20px;
}

.print_thumbnail_2:nth-of-type(2n)
{
margin-right: 0px;
}

.print_thumbnail_3
{
float:left;
margin-right:20px;
margin-bottom:20px;
}

.print_thumbnail_3:nth-of-type(3n)
{
margin-right: 0px;
}




#home_video
{
margin:auto;
}

