@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300);

/*-------------
 GENERAL
--------------*/

body
{
	background: url('body_texture.png') repeat;
}



h1
{
	font-size: 150%;
}

h1, h2, h3, h4, h5, h6
{
font-family: "Cambria", Georgia, serif;
margin: .5em 0;
border-bottom: thin solid #D3CABB;
padding-bottom: .5em;
}

a
{
color:#666;
text-decoration: underline;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
	color: 		#6B6251;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	text-shadow: 1px 0px white;
}

#footer .content
{
	font-size: .8em;
	padding: 	0 0 1em;
	text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
}

#footer a
{
	color: inherit;
}

p
{
	font-size: 95%;	
	padding: .5em .5em;
	margin:1em 0;
	background: url('page_texture.png') repeat;
	box-shadow: 0px	0px 2px #CCBCA8;
	position: relative;
}

/*-------------http://google.com/
 BUTTONS
--------------*/
.button, .menu, .embed
{
margin: 1em 0;
}

.button a, .menu li a
{
font-family: "Cambria", Georgia, serif;
font-weight: bold;
display: 		inline-block; 
text-decoration:none;
text-shadow: 	1px 1px #FFFFFF;
background: url('botton_texture.png') repeat;
position:relative;
}

.button a
{
border-radius: 	7px;
padding: 		.5em 0;
text-align: 	center;
width:			100%;
}

.menu
{
list-style-type: none;
}

.menu li a
{
padding: 		.5em 0 .5em 3%;
width:			97%; 
border-bottom: thin solid #D3CABB;
}
.menu li:last-child a
{
border-bottom: none;
}

.button a:hover, .menu li a:hover
{
background: url('hover_texture.png') repeat;
}

.button a:active, .menu li a:active
{
box-shadow: 	0px 1px 2px rgba(0, 0, 0, .3);
top: 1px;
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #FFFFFF;
box-shadow: 	0px 0px 2px #CCBCA8;
margin: 1em 0;
max-width:99%;
padding:1%;
}

.image img
{
width:100%;
vertical-align:bottom;
}