@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lobster);
/*-------------
 GENERAL
--------------*/

body
{
background-color: #FAFAFA;
}


h1, h2, h3, h4, h5, h6
{
margin: .5em 0;
}

a
{
color:#2BA09E;
}


/*-------------
 LAYOUT
------------------------*/

.page
{
	color: 		#666666;
	font-family: 'Helvetica Neue', Helvetica;	
}

#footer .content
{
	padding: 	0 0 1em;
	color: #666666;
}

#footer a
{
	color: #2BA09E;
}

p
{
margin:1em 0;
line-height: 1.5em;
border-top: thin solid #E6E6E6;
padding-top: 1em;
}

h1, h2, h3
{
font-family: 'Lobster', cursive;
}

h5
{
color: #2BA09E;
}


/*-------------
 BUTTONS
--------------*/
.button, .menu, .embed
{
margin: 1em 0;
}

.button a, .menu li a, .accordeon
{
color: #666666;
display: 		inline-block; 
text-decoration:none;
background-color: #ECECEC;
border-bottom: thin solid #D2D2D2;
}

.button a
{
border-radius: 	7px;
padding: 		.5em 0;
width:			100%;
text-align: center;
font-weight: bold;
border: thin solid #D2D2D2;
}

.menu
{
list-style-type: none;
}

.menu li a
{
color: #2BA09E;
padding: 		.5em 0 .5em 3%;
width:			97%; 
}
.menu li:last-child a
{
border-bottom: none;
}

.menu li a:before
{
content: "> ";
color: #666666;
font-family: courier;
}

.button a:hover, .menu li a:hover
{
background-color: #F4F4F4;
}

.button a:active, .menu li a:active
{
background-color: #E6E6E6;
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #fff;
border: thin solid #D2D2D2;
margin: 1em 0;
max-width:96%;
padding:2%;
border-radius: 6px;
}

.image img
{
width:100%;
vertical-align: bottom;

}