@charset "utf-8";

/*-------------
 GENERAL
--------------*/
body
{
background: #f1f1f1 url('../img/tile.gif') repeat;
}

h1, h2, h3, h4, h5, h6
{
font-weight:normal;
margin:.5em 0 .5em;
}

.page a
{
color:#666;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
	font-size:		1.2em;
	line-height:	1.4em;
	color: 		#5B5B5B;
	font-family:Georgia, serif;
}

#footer .content
{
	padding: 	1em 0;
	border-top: 1px solid #ccc;
}

/*-------------
 BUTTONS
--------------*/
.button, .menu, .embed
{
margin: 1em 0;
}

.button a, .menu a
{
box-shadow: 	0px 1px 2px #888;
display: 		inline-block; 
text-decoration:none;
text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top, #fcfcfc 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fcfcfc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fcfcfc 0%,#eeeeee 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fcfcfc 0%,#eeeeee 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fcfcfc 0%,#eeeeee 100%); /* W3C */
}

.button a
{
border-radius: 	7px;
padding: 		.5em 0;
text-align: 	center;
width:			100%;
}

.menu
{
list-style-type: none;
}

.menu li a
{
padding: 		.5em 0 .5em 3%;
width:			97%; 
}

.button a:hover, .menu li a:hover
{
box-shadow: 	0px 1px 2px #bbb;
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top, #f2f2f2 0%, #dadada 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f2f2f2 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f2f2f2 0%,#dadada 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #f2f2f2 0%,#dadada 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #f2f2f2 0%,#dadada 100%); /* W3C */
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #fff;
box-shadow: 0px 1px 2px #aaa;
margin: .7em 0;
max-width:98%;
padding:1%;
}

.image img
{
width:100%;
vertical-align:bottom;
}
