@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Miniver);
/*-------------
 GENERAL
--------------*/

body
{
background: url('carretourne.gif') repeat;
}

h1, h2, h3, h4, h5, h6
{
text-align: center;
text-decoration: underline;
margin: .2em 0;
padding: 0 .2em;
}

p
{
	padding: .5em .5em;
}

.page a
{
color:#F5E96F;
text-decoration: underline;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
	font-size: 1.2em;	
	background: url('ardoise.jpg') repeat;
	box-shadow: 	0px 0px 5px #621700;
	padding: .3em .8em;
	margin: 1em auto 0.5em;
	border: 5px solid #B0884A;
	border-radius: 8px;
	font-family: 'Miniver', cursive;
	color: #EEEEEE;
}


#footer .content
{
	font-family: Georgia;
	color: #000;
	text-shadow: 	0 -1px 4px #F5E96F;
}

#footer a
{
	color: inherit;
}


p
{
margin:1em 0;
}

h1:after
{
display: block;
content:url('line.png');
text-align: center;
}
p:after
{
display: block;
content:url('line.png');
text-align: center;
}


/*-------------
 BUTTONS
--------------*/


.button, .menu, .embed
{
margin: 1em 0;http://google.com/
}

.button a, .menu li a, .accordeon
{
color: #F5E96F;
display: inline-block; 
position:relative;
background: url('hover-button.png') repeat;
box-shadow: 	0px 0px 25px #555555;
}

.button a
{
border-radius: 	7px;
padding: 		.5em 0;
text-align: 	center;
width:			100%;
}

.menu
{
list-style-type: none;
}

.menu li a
{
padding: 		.5em 0 .5em 3%;
width:			97%; 
}

.menu li a:before
{
content: url('puce.png') " ";
}

.button a:hover, .menu li a:hover
{

}

.button a:active, .menu li a:active
{

}

/*-------------
 IMAGES
--------------*/
.image
{
margin: 1em 0;
max-width:100%;
}

.image img
{
width:100%;
}