@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Sansita+One);

/*-------------
 GENERAL
--------------*/

body
{
background: url('textures_035_wood_crop-iphone_web.jpg') repeat;
background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6
{
margin: .2em 0;
color: #FFFFFF;
text-align: center;
font-family: 'Sansita One', cursive;
text-shadow: 	0px 1px #2F1C0E,
	0px 2px 0 #2F1C0E, 
	0px 3px 0 #2F1C0E,
	0px 4px 0 #2F1C0E,
	0px 5px 0 #2F1C0E,
	0px 6px 0px #2F1C0E,
	0px 7px 10px #2F1C0E,
	0px 8px 15px #2F1C0E;
	
}

p
{
	font-size: 0.8em;
	background-color: #F2EEE2;
	padding: .5em .5em;
	line-height: 1.5em;
	box-shadow: 0px	0px 3px #2F1C0E;
	border-radius: 7px;
}

a
{
color:#2E76A8;
}


/*-------------
 LAYOUT
------------------------*/
.page
{
	font-size: 1.2em;
	color: 		#3D2109;
	font-family: 'Helvetica Neue', Helvetica;	
}

#footer .content
{
	padding: 	0 0 1em;
	color: #fff;
	text-shadow: 	0 -1px 1px rgba(0,0,0,0.25);
}

#footer a
{
	color: inherit;
}

p
{
margin:1em 0;
}

/*-------------
 BUTTONS
--------------*/
.button, .menu, .embed
{
margin: 1em 0;
}

.button a, .menu li a, .accordeon
{
color: #fff;
display: 		inline-block; 
text-decoration:none;
font-family: 'Sansita One', cursive;
text-shadow: 	0px 1px #2F1C0E,
	0px 2px 0 #2F1C0E, 
	0px 3px 0 #2F1C0E,
	0px 4px 0 #2F1C0E,
	0px 5px 0 #2F1C0E,
	0px 6px 0px #2F1C0E,
	0px 7px 10px #2F1C0E,
	0px 8px 15px #2F1C0E;
}


.button a
{
border-radius: 	7px;
padding: 		.5em 0;
text-align: 	center;
width:			100%;
}

.menu
{
list-style-type: none;
}

.menu li a
{
padding: 		.5em 0 .5em 3%;
width:			97%; 
}

.button a:hover, .menu li a:hover
{
background: url('button-hover.png');
border-radius: 	10px;
}

.button a:active, .menu li a:active
{
background: url('button-hover.png');
border-radius: 	10px;
}

/*-------------
 IMAGES
--------------*/
.image
{
background: #fff;
box-shadow: 0px	0px 3px #2F1C0E;
border-radius: 7px;
margin: .7em 0;
max-width:98%;
padding:2%;
}

.image img
{
width:100%;
vertical-align: bottom;
}